
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= message %></p>
	<p><a href="https://parse.com/docs/cloudcode/guide#hosting-creating-a-web-app" target="_blank">read this</a>
  </body>
</html>
